*.iml
*.ipr
*.ids
*.iws
.idea/
.vscode/
bin/
.project
.metadata
local.properties
.classpath
.settings/
.loadpath
manifest*
Docker*
.DS_Store


target/

.gradle
build/

*.log*
/classes/
secret.yml
config-domain.yml
